{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - foo: Foo variable description.
 *
 * @see template_preprocess_widget()
 *
 * @ingroup themeable
 */
#}
<div id="sqrl-{{ operation }}" class="sqrl sqrl-{{ operation }} sqrl-widget">
  <h2>{{ title }}</h2>
  <p>
    <a href="{{ nuturl }}" encoded-sqrl-url="{{ encodednuturl }}" class="cps">
      <img src="{{ logourl }}" alt="SQRL {{ operation }}" title="{{ title }}" height="{{ qrcodesize }}" width="{{ qrcodesize }}">
    </a>
    <img src="{{ qrcodeurl }}" alt="SQRL {{ operation }}" title="{{ title }}" height="{{ qrcodesize }}" width="{{ qrcodesize }}">
    <br>
    <small>{{ description }}</small>
  </p>
</div>
